@import './reset';
header{
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 85px;
        .logo{
            height: 100%;
            img{
                height: 100%;
            }
        }
        ul{
            display: flex;
            li{
                margin: 0 2rem;
                a{
                    color: blue;
                    font-size: 1.25rem;
                    font-weight: 700;
                }
            }
        }
        .wallet{
            display: flex;
            align-items: center;
            color: black;
            font-size: 1.5rem;
            p{
                margin-right: 0.25rem;
                margin-left: 1rem;
            }
        }
    }
}
// MAin
main{
    display: flex;
    padding: 1rem;
    background-color: rgb(47, 47, 85);
    min-height: 80vh;
    // Aside left
    aside{
        width: 300px;
        height: 80vh;
        ul{
            li{
                padding: 1rem;
                border: 3px solid #fff;
                border-radius: 2rem;
                margin-bottom: 2rem;
                a{
                    color: white;
                    font-weight: 700;
                    
                }
            }
        }
    }
    // Questions Section
    section{
        flex: 1;
        padding: 1rem;
        .question{
            padding: 1rem;
            border: 2px solid #fff;
            border-radius: 10px;
            margin-bottom: 1rem;
            .question-number{
                color: #fff;
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }
            .question-content{
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
            .answers{
                display: flex;
                flex-wrap: wrap;
                .answer{
                    display: flex;
                    align-items: center;
                    width: 50%;
                    gap: 1rem;
                    margin-bottom: 2rem;
                    p{
                        color: #fff;
                    }
                    .imgs{
                        img{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}